* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
}

:root {
    --primary-color: #412872;
    --secondary-color: #f7f3f3;
    --tertiary-color: #39a6b2;
  }
/* Styling of the header */
header{
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    flex: auto;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
}

header nav {
    margin: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    float: left;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Styling of the Jumbotron */
.background {
    position: static;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    display: block;
    top: 0;  
    left: 0;
    z-index: 1;
    max-height: 675px;
}

/* styling of three main sections */

 .titles {
    font-size: 40px;
    padding: 10px;
    margin: 10px 0px;
    color: var(--primary-color);
    border-right: 5px solid var(--primary-color);
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.float-container {
    padding: 10px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
    color: var(--primary-color);
}
 /* connect section styling */

.connect { 
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;
    background-color:var(--secondary-color);
}

.connecting {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-evenly;
    font-size: 20px;
    width: 75%;
}

.connecting a {
    color: var(--primary-color);
    text-decoration: none;
}

.connecting img {
    max-width: 450px;
    max-height: 500px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
 }






 /* Screen size responsiveness */

@media screen and (min-width: 980px) {
    
}
    

    @media screen and (max-width: 768px) {
        .titles {
            font-size: 30px;
            width: 43%;
            padding: 10px;
            margin: 10px 0;
            border-bottom: 5px solid var(--primary-color);
            border-right: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .connect a {
            padding: 10px;
        }

        .connecting {
            width: unset;
            text-align: center;
            float: inline-start;
        }

        .connecting img {
            max-width: 500px;
        }

        .float-child {
            width: 100%;
            margin: 20px;
            
        }
    }

    @media screen and (max-width: 575px) {
        .titles {
            font-size: 30px;
            width: 43%;
            padding: 10px;
            margin: 10px 0;
            border-bottom: 5px solid var(--primary-color);
            border-right: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }

        .connecting {
            width: unset;
            text-align: center;
        }

        .connecting img {
            max-width: 250px;
        }

        .float-child {
            width: 50%;
            margin: 20px;
            
        }

    }